<html>
    
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Layout Demo</title>
        <link rel="stylesheet" type="text/css" href="layoutResponsive.css"></link>
        <link rel="stylesheet" type="text/css" href="navlayout.css"></link>
    </head>
    
    <body>
        <div class="header">This is My Page</div>
        <div class="navbar">
            <a href="index.html">Main Hub Page</a>
            <div class="dropmenu">
                <button class="dmbutton">Other Links</button>>
                <div class="dropmenucontent">
                    <a href="http://youtube.com">youtube</a>
                    <a href="https://google.com">google</a>
                </div>
            </div>
            <a  href="#"></a>
        </div>
        <div class="maincontainer">
            <div class="leftcol">This is the left column
                <p>i created this column using a div class named left col with the style sheet containg the same name </p>
            </div>
            <div class="maincontent">Here is the main content(if you can call it that) i experimented adding pictures here downloading them and adding them to the webistes storage them creating a link between them in the code using an img src command and when adding class responsive enables the image to change based on the size of the site                 
                <img src="weirdstone.jpg" alt="Nature" class="responsive">  
                <img src=IH.jpg alt="meme" class="responsive">            
            </div>
            <div class="rightcol">This is right column you know the one on the right
                <p style="font: size 1;">i made this column the same way i made the other one but with a diffrent name right col too keep things neat </p>            
            </div>
            <button onclick="myFunction()">Toggle dark mode</button>
            <script>
                function myFunction() {
                   var element = document.body;
                   element.classList.toggle("dark-mode");
                }
                </script>
                <button onclick="typeWriter()">Click me</button>

                <p id="demo"></p>
                
                <script>
                var i = 0;
                var txt = 'hi Nigel i used examples from w3 schools too attempt too add a dark mode and script into the page';
                var speed = 80;
                
                function typeWriter() {
                  if (i < txt.length) {
                    document.getElementById("demo").innerHTML += txt.charAt(i);
                    i++;
                    setTimeout(typeWriter, speed);
                  }
                }
                </script>
        </div>
        <div class="footer">theres nothing here too see</div>

    </body>
</html>