<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Layout Demo</title>
        <link rel="stylesheet" type="text/css" href="layoutResponsive.css"></link>
        <link rel="stylesheet" type="text/css" href="navlayout.css"></link>
    </head>
    
    <body>
        <div class="header">This is My Page</div>
        <div class="navbar">
            <a href="#">Main Hub Page</a>
            <div class="dropmenu">
                <button class="dmbutton">Other Links</button>>
                <div class="dropmenucontent">
                    <a href="http://youtube.com">youtube</a>
                    <a href="https://google.com">google</a>
                </div>
            </div>
            <a href="#"></a>
        </div>
        <div class="maincontainer">
            <div class="leftcol">This is the left column
                <p>there is nothing her for you</p>
            </div>
            <div class="maincontent">Here is the main content(if you can call it that)                
                <img src="weirdstone.jpg" alt="Nature" class="responsive">              
            </div>
            <div class="rightcol">This is right column you know the one on the right
                <p style="font-size:3vw;">Not sure what I can Add here</p>
                <p>Boo!</p>
            </div>
        </div>
        <div class="footer">theres nothing here too see</div>
    </body>
</html>