<html>
  <head>
    <title>my page</title>
    <link rel="stylesheet" type="tex/Css" href="style.css">
    <style type="text/CSS">
    .fright{
float: right;
border-style: groove;
padding:10px
margin 10px;
background-color:aquamarine
}
p.fright:hover{
display:block;
}
.fleft{
    float: left;
    border-style:groove
    padding 10px
    margin 10px;
    background-color:lightcoral;
  }.fleft:hover{
    float:right;
  }
  .blob{
    float: centre;
    border-style: groove;
    padding: 10px;
    margin: 10px;
    background-color: blue;
  }.blob:hover{
    float: left;
  }
        
    </style>
  </head>
          
          <body>
              <nav>
                <p>mywork</p>
                <ul>
                  <li><a href="Index/index.html">home</a></li>
                  <li><a href="#">portfolio</a>
                    <ul>
                     <li><a href="">dont know</a></li>
                     </ul>
                  </li>
                  <li><a href="#">about Me</a></li>
                </ul>
              </nav>
            
            <div class ="fright">Hello World</div>
            <div class ="fleft">my name is Adam bob</div>
            <div class ="blob">not sure ive done right</div>
          </body>
</html>
