<html>
  <head>
    <title>my page</title>
    <link rel="stylesheet" type="tex/Css" href="style.css">
    <style type="text/CSS">
    .fright{
float: right;
border-style: groove;
padding:10px
margin 10px;
background-color:aquamarine
}
p.fright:hover{
display:block;
}
.fleft{
    float: left;
    border-style:groove
    padding 10px
    margin 10px;
    background-color:lightcoral;
  }.fleft:hover{
    float:right;
  }
  .blob{
    float: centre;
    border-style: groove;
    padding: 10px;
    margin: 10px;
    background-color: blue;
  }.blob:hover{
    float: left;
  }
        
    </style>
  </head>
          
          <body>
              <div class="header">This is the header</div>
              <div class="navbar">
                  <a href="#">Menu Item 1</a>
                  <div class="dropmenu">
                      <button class="dmbutton">Menu Item 2</button>>
                      <div class="dropmenucontent">
                          <a href="#">Sub Menu Item 1</a>
                          <a href="#">Sub Menu Item 2</a>
                      </div>
                  </div>
                  <a href="#">Menu Item 3</a>
              </div>
            
            <div class ="fright">Hello World</div>
            <div class ="fleft">my name is Adam bob</div>
            <div class ="blob">not sure ive done right</div>
          </body>
</html>
